body {
  background: linear-gradient(
    326deg,
    rgb(115, 201, 252) 0%,
    rgb(244, 245, 246) 74%
  );
  font-family: "Ubuntu", sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  text-align: center;
}
.current-date {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-left: 150px;
}
