body {
  font-family: "Ubuntu", sans-serif;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/020/808/original/background.jpg?1636552957");
  background-size: cover;
  background-color: transparent;
  opacity: 95%;
}
.weather-header {
  background: linear-gradient(-225deg, #326418 30%, #8da764 48%, #326418 100%);
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.current-date {
  font-size: 18px;
  font-weight: 400;
}
.current-card {
  background: linear-gradient(-225deg, #326418 0%, #8da764 48%, #326418 100%);
  color: white;
}
.weather-description {
  font-size: 16px;
}
.location-name {
  font-family: "Londrina Solid", cursive;
  font-size: 20px;
  text-align: left;
}
.weather-parameters {
  font-weight: bold;
}

.current-temp {
  text-align: left;
  font-size: 52px;
}
.location-button {
  background: #326418;
}
.search-button {
  background: #326418;
}
.weather-forecast {
  font-size: 32px;
  font-weight: 900;
}

.degrees {
  font-size: 18px;
  position: relative;
  top: -20px;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}

.forecast-day {
  font-size: 20px;
  font-weight: bold;
  color: #326418;
}
.description-forecast {
  font-size: 14px;
  text-transform: capitalize;
}
.coder-footer {
  text-align: center;
  background: linear-gradient(-225deg, #326418 0%, #8da764 48%, #326418 100%);
  font-weight: 500;
  color: white;
}

#description-parameter {
  text-transform: capitalize;
}
