body {
  background: linear-gradient(
    326deg,
    rgb(115, 201, 252) 0%,
    rgb(244, 245, 246) 74%
  );
  font-family: "Ubuntu", sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  text-align: center;
}
.current-date {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-left: 150px;
}
.weather-header {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.current-card {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
}
.weather-description {
  font-size: larger;
}
.location-name {
  font-family: "Londrina Solid", cursive;
  font-size: 18px;
}
.weather-parameters {
  font-weight: bold;
}
.weather-app {
  display: inline;
}
.date-today {
  font-size: 22px;
  font-weight: 500;
}
.current-date {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-left: 150px;
}

.current-temp {
  text-align: left;
  font-size: 52px;
}
.location-button {
  background: #8fcaff;
}
.search-button {
  background: #8fcaff;
}
.weather-forecast {
  font-size: 32px;
  font-weight: 900;
}
.forecast {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
}
.mostly-cloudy {
  color: #385170;
}
.cloudy-rainy {
  color: #385170;
}
.partly-clear {
  color: #64c4ed;
}
.partly-clear-rainy {
  color: #64c4ed;
}
.cloudy-snowy {
  color: whitesmoke;
}
.coder-footer {
  text-align: center;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  font-weight: 500;
  color: white;
}
.degrees {
  font-size: 18px;
  position: relative;
  top: -30px;
}
#description-parameter {
  text-transform: capitalize;
}
.women-picture {
  position: relative;
  right: 40px;
  top: 20px;
}
.active {
  color: #212529;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
.forecast-day {
  font-size: 20px;
  font-weight: bold;
}
