body {
  font-family: "Ubuntu", sans-serif;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/020/808/original/background.jpg?1636552957");
  background-size: cover;
  background-color: transparent;
  opacity: 95%;
}
.weather-header {
  background: linear-gradient(
    138deg,
    rgb(32, 201, 255) 36.7%,
    rgb(0, 8, 187) 84.4%,
    rgb(255, 255, 255) 119.7%
  );
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.current-date {
  font-size: 18px;
  font-weight: 400;
}
.current-card {
  background: linear-gradient(
    138deg,
    rgb(32, 201, 255) 36.7%,
    rgb(0, 8, 187) 84.4%,
    rgb(255, 255, 255) 119.7%
  );
  color: white;
}
.weather-description {
  font-size: 16px;
}
.location-name {
  font-family: "Londrina Solid", cursive;
  font-size: 36px;
}
.weather-parameters {
  font-weight: bold;
  text-align: left;
}

.current-temp {
  text-align: left;
  font-size: 52px;
}

.weather-forecast {
  font-size: 32px;
  font-weight: 900;
}

.degrees {
  font-size: 18px;
  position: relative;
  top: -20px;
  color: white;
}

.forecast-day {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 8, 187);
}
.description-forecast {
  font-size: 14px;
  text-transform: capitalize;
}
.coder-footer {
  text-align: center;
  background: linear-gradient(
    138deg,
    rgb(32, 201, 255) 36.7%,
    rgb(0, 8, 187) 84.4%,
    rgb(255, 255, 255) 119.7%
  );
  font-weight: 500;
  color: white;
}
.linkGit {
  color: white;
}

#description-parameter {
  text-transform: capitalize;
}
